# --- macOS System Files ---
.DS_Store
.AppleDouble
.LSOverride
Icon?

# --- Python ---
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
*.log

# --- VS Code ---
.vscode/
*.code-workspace
.history/

# --- Databases (MySQL/Local backups) ---
*.sql
*.sqlite
.env
.python-version

# --- Misc ---
node_modules/
dist/
build/